/*
	main.css
	HTML,CSS,Design Level JS Code developed by :
	Author:Prashant Sani, www.yellowslice.in,
  www.yellowslice.in
  
	Colour Codes:
	Blue :#0e76bc;
  Grey: #6c7173;
  Green: #6cc067;
  Pink: #ef679f; 
  Yellow: #e8de67; 
  Green2: #39c962; 
*/

/* =============================================================================
   Index

   1) Global Styles,Resets,Global Links,Abstraction
   2) Header ,Main Navigation
   3) Content 
   4) Footer
   5) Forms
   6) Library Styles
   8) Non-Symentic Class
   7) Print Styles
   ==========================================================================  */

/* =============================================================================
   Resets, Global Styles
   ========================================================================== */

/* HTML 5 Resets */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
/* Reset */
* {margin:0; padding:0;}
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, 
address, cite, code, del, dfn, em, img, ins, kbd, q, samp, strong, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, 
legend, table, caption, tbody, tfoot, thead, tr, th, td,figure {
	border:0; 
	outline:0; 
	vertical-align:baseline; 
	background:transparent;
}
h1, h2, h3, span {
  padding:0px auto;
  margin: 0px;
}
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }
.floatLeft{
	float:left;
}
.floatRight{
	float:right;
}
a img,img{border:none;}
html{
  background-color: #eff9ff;
  overflow-y: scroll;
  color: #6d6d6d;
  min-width: 1000px
}
body{
  color: #6d6d6d;
  overflow: visible;
}
iframe{
  border: none;
  margin:0;
  outline: none;
}
/* Selection */
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

/*Links */
a, button { text-decoration:none;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
 }
a:visited,a:link { color:#424242  }
a:hover,a:active { color:#6cc067 }
a.currentLink{
	cursor:default;
}
.wrap{
  width: 960px;
  margin: 0 auto;
  position: relative;
}
.blueBoxLink,
.blueBoxLink:link,.blueBoxLink:visited{
  text-align: center;
  color: white;
  width: 80px;
  font-size: 14px;
  padding:7px 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #0d75bb;
  font-family:'robotoregular';
}
.blueBoxLink:hover,.blueBoxLink:active, .blueBoxLink:focus{
  background-color: #6cc067;
  font-family:'robotoregular';
}
/* TYpography */
abbr[title] { border-bottom: 1px dotted; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
@font-face {
    font-family: 'robotolight';
    src: url('webfonts/roboto-light-webfont.eot');
    src: url('webfonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/roboto-light-webfont.woff') format('woff'),
         url('webfonts/roboto-light-webfont.ttf') format('truetype'),
         url('webfonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('webfonts/roboto-medium-webfont.eot');
    src: url('webfonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/roboto-medium-webfont.woff') format('woff'),
         url('webfonts/roboto-medium-webfont.ttf') format('truetype'),
         url('webfonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('webfonts/roboto-regular-webfont.eot');
    src: url('webfonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/roboto-regular-webfont.woff') format('woff'),
         url('webfonts/roboto-regular-webfont.ttf') format('truetype'),
         url('webfonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rupee_foradianregular';
    src: url('webfonts/rupee-webfont.eot');
    src: url('webfonts/rupee-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/rupee-webfont.woff') format('woff'),
         url('webfonts/rupee-webfont.ttf') format('truetype'),
         url('webfonts/rupee-webfont.svg#rupee_foradianregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html *{
  font-family: 'robotolight';
}
h1,h2,h3,h4,h5,h6,strong{
  font-weight: normal;
}
strong{
	font-family: 'robotomedium';
}
html body .highLight1{
  color: #ef679f;
}
html body .highLight2{
  color: #e8de67;
}
html body .highLight3{
  color: #39c962;
}
/* Lists  */
ul, ol { margin: 0; padding: 0; list-style: none; list-style-image: none; }
dd { margin: 0; }
/* Custom Tab */
.customTab{
  display: none;
}
.customTabVis{
  display: block;
}
/* =============================================================================
   Header, Main Navigation
   ========================================================================== */
header{
	position: relative;
  width: 100%;
  z-index: 1000;
  min-width: 960px;
  height: 110px;
  overflow: hidden;
  margin-bottom: -30px
}
.logo{
  
}
header a:link,header a:visited{
  color: white;
}
header a:active,header a:hover,header a.currLink{
  color: #6cc067; 
}
.logo{
  position: relative;
  width: 100%;
  background: url(../images/Bye-Bye-City-Logo.png) left top no-repeat;
  height: 100px;
  text-indent: -3000px;
  overflow: hidden;
  z-index: 1
}
.homeLogoLink{
  position: absolute;
  top: 14px;
  left: 25px;
  height: 75px;
  width: 80px;
  display: block;
  z-index: 10000;
  overflow: hidden;
  text-indent: -222000px;
}
nav{
  position: absolute;
  left:150px;
  top: 42px;
  font-size: 14px;
  z-index: 1000
}
nav li,.logInRegContain li{
	list-style:none;	
  float: left;
  margin-right: 40px;
}
nav ul a{
	display:block;	
}
.logInRegContain{
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 1000
}
.logInRegContain li{
  margin: 0
}
.logInRegContain a{
  padding: 10px 20px;
  -moz-border-radius: 1px / 2px;
  -webkit-border-radius: 1px / 2px;
  border-radius: 1px / 2px;
}
.logInRegContain a:link,.logInRegContain a:visited{
  background-color: transparent;
  color: white
}
.logInRegContain a:active,.logInRegContain a:hover{
  background-color: #6cc067;
  color: white;
}
.headerContain{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100000;
  background-color: #eff9ff;
}
/* About Us */
.abtUStatus{
  position: absolute;
  left: 130px;
  top: 12px;
  z-index: 1000
}
.abtUStatus li{
  float: left;
  position: relative;
  width: 180px;
  display: inline-block;
  height: 30px;
}
.abtUStatus li:nth-child(2n){
  width: 230px
}
.abtStatusBox{
  width: 45px;
  height: 45px;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 16px;
}
.abtStatusLine{
  position: absolute;
  left: 55px;
  top: 28px;
  color: white;
}
.statusFull{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #6cc067;
  z-index:1;
}
.abtStatusBox span{
  top:10px;
  font-size: 32px;
  display: block;
  color: #6b6b6b;
  position: relative;
  z-index: 10;
  text-align: center;
}
.abtStatusBox .checkedIco{
  top:-10px;
  height: 50px
}
.checkedIco{
  width: 100%;
  height: 100%;
  background: url('../images/checkedIco.png') center center no-repeat;
}
/* =============================================================================
   Content
   ========================================================================== */
div[role=main]{
  position: relative;
  z-index: 100;
}
/* Home Page */
.homeBanner{
  margin: 110px auto 0 auto;
  width: 1200px;
  max-width: 100%;
}
.homeBanner img{
  max-width: 100%;
  margin-top:-30px;
  display: block;
}
.homeBannerContain{
  width: 100%;
  min-width: 960px;
  position: relative;
}
.homeBannerContent{
  background-color: #0e76bc;
}
.homeBannerContain p{
  width: 100%;
  font-size: 17px;
  padding: 10px 0;
  color: white
}
.homeBannerContain a{
  display: block;
  right: 0;
  top:0;
  position: absolute;
  font-size: 19px;
  padding: 10px 17px 7px 17px;
}
.homeBannerContain a:link,.homeBannerContain a:visited{
  color: white;
  background-color: #6cc067
}
.homeBannerContain a:active,.homeBannerContain a:hover,.homeBannerContain.currLink{
  background-color: white;
  color: #6cc067; 
}
.homeMainContentHide{
  top: 100px;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
.welcomeNoteContain{
  margin-top: 60px;
}
.welcomeNote1{
  float: left;
  color: #6c7173;
  width: 460px;
}
.welcomeNote1 h1{
  font-size: 30px;
  margin-bottom: 12px;
}
.welcomeNote1 li{
  margin:0 0 10px 15px;
  list-style-image:url('../images/green-bullet.png'); 
  list-style-position:outside; 
  font-size: 14px;
}
.ySignUp{
   background-color: #95c5e4; 
   margin: 43px 0 110px 0;
   position: relative;
}
.ySignUp h1{
  font-size: 25px;
  color: #174f72;
  padding: 17px 15px 10px 15px;
  border-bottom: #77aed2 solid 1px;
}
.ySignUp p{
  position: relative;
  padding: 0 15px 40px 15px;
  font-family: 'robotolight';
  font-size:14px;
  color: #000f18;
}
.BoxShadowBtn{
  position: absolute;
  bottom: -15px;
  left: 149px;
  width: 148px;
  display: block;
  text-align: center;
  -moz-border-radius: 1px / 2px;
  -webkit-border-radius: 1px / 2px;
  border-radius: 1px / 2px;
  color: white;
  background-color: #6cc067;
  padding:7px 0;
  -moz-box-shadow: 0 14px 10px -12px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 14px 10px -12px rgba(0,0,0,0.5);
  box-shadow: 0 14px 10px -12px rgba(0,0,0,0.7);
}
.BoxShadowBtn:active:before, .BoxShadowBtn:active:after {
 -moz-box-shadow: none;
 -webkit-box-shadow: none;
 box-shadow: none
}
.BoxShadowBtn:before, .BoxShadowBtn:after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 70px;
  height: 28px;
  -moz-box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.5);
}
.BoxShadowBtn:after{
  right: 10px;
  bottom: 15px;
  -moz-transform: rotate(4deg) skew(4deg);
  -webkit-transform: rotate(4deg) skew(4deg);
  -o-transform: rotate(4deg) skew(4deg);
  transform: rotate(4deg) skew(4deg);
}
.BoxShadowBtn:before{
  left: 10px;
  bottom: 15px;
  -moz-transform: rotate(-4deg) skew(-4deg);
  -webkit-transform: rotate(-4deg) skew(-4deg);
  -o-transform: rotate(-4deg) skew(-4deg);
  transform: rotate(-4deg) skew(-4deg);
}
.BoxShadowBtn:hover,
.BoxShadowBtn:active,
.BoxShadowBtn.currLink{
  background-color: #0e76bc
}
.welcomeNote2{
  float: right;
  width: 400px;
}
.welcomeNote2 h1{
  font-size: 17px;
  color: #6c7173; 
}
.uTubeLink{
  margin-top: 10px;
}
.homeAdditionalInfo{
  padding-left: 5px;
  margin-top: 25px;
  border-left:#6cc067 solid 5px; 
}
.homeAdditionalInfo h4{
  font-size: 29px;
  color: #6c7173;
}
.homeAdditionalInfo p{
  font-size: 14px;
  color: #6c7173;
  font-family: 'robotolight';
}
.homeAdditionalInfo a:link,.homeAdditionalInfo a:visited{
  color:#6c7173;
  border-bottom: #6c7173 1px dotted;
  font-family: 'robotolight';
}
.homeAdditionalInfo a:hover,.homeAdditionalInfo a:active{
  color:#6cc067;
  border-bottom: #6cc067 1px dotted;
  font-family: 'robotolight';
}
.registerContain,
.signInContain{
  position: relative;
  display: none;
    margin-top: 161px;
}
/* Sign In Box Contain */
.signInContain{
  width: 100%;
  border-top:#dadada solid 1px; 
}
.signInContain .wrap{
  width: 380px;
  top: -55px;
}
.signInContain article,
.registerContain article{
  position: relative;
  color: #191919
}
.signInContain h1,
.registerContain h1{
  font-size: 36px;
  color: #0e76bc;
  margin-bottom: 40px;
  
}
.signInCloseBtn,
.joinCloseBtn,
.panCardDelete{
  position: absolute;
  width: 18px;
  text-align: center;
  padding: 0 0 3px 0;
  font-size: 16px;
  line-height: 15px;
  color: white;
  font-family: 'robotomedium';
  background-color: #f067a0 ;
  top: 18px;
  right: -12px;
}
.signInCloseBtn:hover, .signInCloseBtn:active,
.joinCloseBtn:hover, .joinCloseBtn:active,
.panCardDelete:hover, .panCardDelete:active{
  background-color: #0e76bc;
}
.signInForm p{
  overflow: hidden;
  padding: 15px 0;
  position: relative;
  color: #737373
}
.signInFormCol2{
  position: relative;
}
.signInForm input[type=email],
.signInForm input[type=password]{
  width: 224px;
  font-size: 14px;
  padding:5px 3px;
  border: #dae4eb solid 1px;
  display: inline-block;
  float: left;
}
.signInForm label{
  color: #737373;
  width: 146px;
  display: inline-block;
  float: left;
}
.forgotPW{
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 11.5px;
}
.signInForm a:link,.signInForm a:visited{
  color: #191919;
}
.signInForm a:active,.signInForm a:hover,.signInForm a.currLink{
  color :#0e76bc
}
.signInForm span.floatLeft{
  width: 149px;
  font-size: 11.5px;
  margin-top: 52px;
}
.signInForm span.floatLeft label{
  width: 110px;
  margin:-2px 0 0  7px;
}
.signInForm input[type=checkbox]{
  border: #dae4eb solid 1px;
  float: left;
}
html .errorMsg{
  color: #f067a0;
  font-size: 13px;
  padding: 2px 5px;
  border: #f067a0 1px dashed;
  font-family: 'robotolight';
  margin: 25px 0 -29px 0;
}
.infoIco{
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  background: #f067a0 url(../images/info-icon.png) center center no-repeat;
}
.signInSubmit{
  margin-top: 38px;
  float: right;
  color: white;
  width: 143px;
  padding: 10px 0;
  font-size: 14px;
  -moz-border-radius: 2px / 3px;
  -webkit-border-radius: 2px / 3px;
  border-radius: 2px / 3px; 
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #6bbf67; 
  -moz-box-shadow: 0 1px 0 #fff; 
  -webkit-box-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 #fff;
}
.signInSubmit:hover{
  background-color: #0e76bc;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
.signInRegisterBox{
  position: relative;
}
.signInRegisterBox span{
  position: relative;
  position: relative;
  font-size: 14px;
  display: block;
  text-align: center;
}
.signInRegisterBox span:before,
.signInRegisterBox span:after{
  position: absolute;
  top: 10px;
  width: 134px;
  background-color: #acacac;
  height: 1px;
  display: block;
  content: ''
}
.signInRegisterBox span:before{
  left: 0
}
.signInRegisterBox span:after{
  right: 0
}
.signInRegisterBox a{
  display: block;
  margin-top: 30px;
  color: white;
  text-align: center;
  -moz-border-radius: 5px / 3px;
  -webkit-border-radius: 5px / 3px;
  border-radius: 5px / 3px; 
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; 
  -moz-box-shadow: 0 1px 0 #fff; 
  -webkit-box-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 #fff;
  font-size: 14px;
  padding: 10px 0;
}
.signInRegisterBox a:link,.signInRegisterBox a:visited{
  background-color: #0e76bc;
  color: white;
}
.signInRegisterBox a:active,.signInRegisterBox a:hover,
.signInRegisterBox a.currLink{
  background-color :#6cc067;
  color: white;
}
.invalidUserInput{
  position: relative;
  display: inline-block;
}
.invalidUserInput:after{
  position: absolute;
  width: 4px;
  height: 27px;
  background-color: #f067a0;
  display: inline-block;
  content: '';
  right: 0;
  top: 0
}
/* Join page */
.registerContain{
  margin: 161px 0 100px 0;
  width: 100%;
  border-top:#dadada solid 1px; 
  border-bottom:#dadada solid 1px; 
  position: relative;
}
.registerContain .wrap{
  width: 406px;
  top: -55px;
}
.registerForm p{
  position: relative;
  padding: 0 0 15px 0;
}
.regEmailPara{
  margin-bottom: 30px;
}
.registerForm input[type="submit"]{
  position: absolute;
  bottom: -110px;
  right: 0;
  width: 143px;
  height: 32px;
  -moz-border-radius: 2px / 3px;
  -webkit-border-radius: 2px / 3px;
  border-radius: 2px / 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #0d75bb;
  -moz-box-shadow: 0 1px 0 #fff;
  -webkit-box-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 #fff;
  color: white;
  font-family: "robotoregular";
  font-size: 14px;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
.registerForm input[type="submit"]:hover, .registerForm input[type="submit"]:active{
  opacity: 0.8;
}
.agreePara{
  position: absolute;
  bottom: -110px;
  left: 0;
  width: 200px;
  color: black;
  font-family: "robotoregular";
  font-size: 11px;
}
.agreePara a{
  font-size: 11px;
  font-family: 'robotomedium';
  color: black;
}
.registerCol2Info{
  position: absolute;
  right: 3px;
  bottom: -17px;
  font-size: 10.5px;
  font-family: 'robotolight';
  width: 252px
}
.registerCol1,
.registerCol2{
  display: inline-block;
  position: relative;
}
.registerCol1{
  width: 145px;
  font-size: 14px;
  font-family: 'robotoregular';
  color: #191919;
}
.registerCol2 input[type=text],
.registerCol2 textarea{
  font-family: 'robotolight';
  width: 226px;
  padding: 4px 10px;
  border: 1px solid #dae4eb;
  -moz-border-radius: 2px / 1px;
  -webkit-border-radius: 2px / 1px;
  border-radius: 2px / 1px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fff;
  -moz-box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
  -webkit-box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
  box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
}
.registerCol2 select,
.registerCol2 select+ .chosen-container{
  width: 246px !important;
}
.registerForm textarea{
  width: 226px;
  height: 55px;
  resize:none;
  border: 1px solid #dae4eb;
  -moz-border-radius: 2px / 4px;
  -webkit-border-radius: 2px / 4px;
  border-radius: 2px / 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fff;
  -moz-box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
  -webkit-box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
  box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
}
.regCol2Info:after{
  position: absolute;
  width: 4px;
  height: 25px;
  background-color: #f067a0;
  display: inline-block;
  content: '';
  right: 0;
  top: 0
}
.regCol2InfoBox,
.ValidateInfoBox{
  background-color: #4d4d4d;
  color: white;
  display: block;
  position: absolute; 
  z-index: 1000;
  right: -92px;
  top: 30px;
  padding: 5px;
  font-size: 10px;
  width: 120px;
}
.regCol2InfoBox:after,
.ValidateInfoBox:after{
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #4d4d4d;
  z-index: 1000000;
  display: inline-block;
  content: '';
  position: absolute;
  left: 29px;
  top: -5px;
}
.registerULCol1{
  width: 145px;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  color: #191919;
  font-family: 'robotoregular';
}
.registerULCol1 span{
  font-size: 12px;
  font-family: 'robotoregular';
}
/* Register Thanks Page */
.registerThanks{
  width: 648px;
  margin: 20px auto 0 auto;
  text-align: center;
  
}
.registerThanks h1{
  font-size: 36px;
  color: #0e76bc;
  margin-bottom: 15px;
  font-family: 'robotoregular';
  font-weight:bold;
}
.registerThanks p{
  font-size: 18px;
  color: #6e6e6e;
}
/* LAnding Page */
.welcomeUserSec .wrap{
  width: 890px;
  padding: 30px;
  border: 1px solid #dae4eb;
  -moz-border-radius: 3px / 4px;
  -webkit-border-radius: 3px / 4px;
  border-radius: 3px / 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fff;
  -moz-box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
  -webkit-box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
  box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
}
.WelcomeUserMainHead{
  opacity: .8;
  color: #0a4c7a;
  font-family: "robotomedium";
  font-size: 36px;
  text-align: center;
}
.WelcomeUserMainSubHead{
  font-size: 24px;
  font-family: 'robotolight';
  text-align: center;
  margin-bottom: 20px;
}
a.welcomeUserStartBtn{
  position: relative;
  display: block;
  padding: 4px 0;
  margin: 0 auto;
  width: 138px;
  text-align: center;
  color: white;
  font-size: 16px;
  font-family: 'robotomedium';
  -moz-border-radius: 3px / 2px;
  -webkit-border-radius: 3px / 2px;
  border-radius: 3px / 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #0d75bb;
  -moz-box-shadow: 0 1px 0 #fff, inset 0 1px 0 rgba(7,81,131,.59);
  -webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 0 rgba(7,81,131,.59);
  box-shadow: 0 1px 0 #fff, inset 0 1px 0 rgba(7,81,131,.59);
}
.welcomeUserStartBtn:hover, .welcomeUserStartBtn:active{
  opacity: 0.8;
}
.welcomeUserStartBtn:after,
.welcomeUserStartBtn:before{
  content: "";
  display: inline-block;
  position: absolute;
  top: 15px;
  width: 353px;
  height: 1px;
  background-color: #0d75bb;
}
.welcomeUserStartBtn:before{
  left: -375px;
}
.welcomeUserStartBtn:after{
  right: -375px;
}
.welcomeUserSteps{
  margin-top: 15px;
  border-bottom: #0d75bb 1px solid;
}
.welcomeUserStepsIntro{
  font-size: 18px;
  font-family: 'robotolight';
  text-align: center;
}
.welcomeUserStepsCol1,
.welcomeUserStepsCol2{
  margin: 30px 15px 0 0;
  display: inline-block;
}
.welcomeUserStepsCol1{
  float: left;
}
.welcomeUserStepsCol2{
  float: right;
  width: 348px;
  height: 283px;
}
.welcomeUserStepsCol1 li{
  margin-bottom: 15px;
}
.welcomeUserStepsCol1 li div{
  display: inline-block;
  margin-right: 5px;
  vertical-align: top;
}
.welcomeUserStepsBox{
  width: 83px;
  background-color: #fff;
  -moz-box-shadow: inset 1px 1px 18px rgba(37,131,198,.35);
  -webkit-box-shadow: inset 1px 1px 18px rgba(37,131,198,.35);
  box-shadow: inset 1px 1px 18px rgba(37,131,198,.35);
  font-family: "robotomedium";
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  padding: 17px 0;

}
.welcomeUserStepsDet{
  width: 368px;
  height: 82px;
}
li:nth-child(odd) .welcomeUserStepsDet{
  background: url(../images/steps-Box.png) no-repeat;
  padding: 10px 15px 10px 30px;
}
li:nth-child(even) .welcomeUserStepsDet{
  padding: 10px 30px 10px 15px;
  background: url(../images/steps-Box2.png) no-repeat;
}
.welcomeUserStepsDet p{
  font-size: 15px;
  font-family: 'robotomedium';
}
.welcomeUserStepsCol2 p{
  font-size: 15px;
  font-family: 'robotolight';
}
/* Edit profile Pages */
.EditProfPages input[type=text],
.EditProfPages input[type=email],
.EditProfPages input[type=password],
.EditProfPages textarea{
  width: 438px;
  margin-top: 3px;
  padding: 2px 10px 3px 10px;
  border: 1px solid #dae4eb;
  -moz-border-radius: 3px / 1px;
  -webkit-border-radius: 3px / 1px;
  border-radius: 3px / 1px;
  background-color: #fff;
  -moz-box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
  -webkit-box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
  box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
  font-size: 14px;
}

.BusDetCol3 input[type=text], select 
{
  width: 170px;
  margin-top: 3px;
  padding: 2px 10px 3px 10px;
  border: 1px solid #dae4eb;
  -moz-border-radius: 3px / 1px;
  -webkit-border-radius: 3px / 1px;
  border-radius: 3px / 1px;
  background-color: #fff;
  -moz-box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
  -webkit-box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
  box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
  font-size: 14px;
}

.SmallTextbox input[type=text], select 
{
  width: 70px;
  margin-top: 3px;
  padding: 2px 10px 3px 10px;
  border: 1px solid #dae4eb;
  -moz-border-radius: 3px / 1px;
  -webkit-border-radius: 3px / 1px;
  border-radius: 3px / 1px;
  background-color: #fff;
  -moz-box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
  -webkit-box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
  box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
  font-size: 14px;
}

.SmallTextbox b
{
  font-size: 13px;
}

.EditProfPages textarea{
  height: 150px
}
/* About You */
div[data-pageID='abtU'],
div[data-pageID='urBusDet']{
  margin-top: 150px
}
.abtUStatusBox{
  width: 700px;
  position: relative;
  z-index: 1000000
}
.abtUStatusBox li{
  display: inline-block;
  font-size: 14px;
  float: left;
  margin-right: 5px
}
.abtUStatusBox span{
  font-family: 'robotoregular';
  padding:8px 15px; 
  min-width: 100px;
  text-align: center;
  display: inline-block;
  margin-top: 5px;
  color: #abb1b5;
  font-size: 14px;
}
.abtUStatusBox .currLink,
.abtUStatusBox .abtUStatusDone{
  border-top: #0e76bc solid 4px;
  border-left: 1px solid #dae4eb;
  border-right: 1px solid #dae4eb;
  background-color: white;
  z-index: 1000;
  position: relative;
  bottom: -3px;
  margin-top: 0;
  color: #585858;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
.abtUStatusBox .currLink{
  color: #585858;

}
.abtUStatusBox .abtUStatusDone{
  border-top: #6cc068 solid 4px;

  color: #abb1b5;
}
.abtUPgBack{
  display: none;
}
.youTab,.yourDetTab,
.yourBusBox{
  width: 700px;
  float: left;
}

.youTabForm,
.yourDetTabForm{
  position: relative;
  border: 1px solid #dae4eb;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding:0 0 50px 30px;
  background-color: #fff;
  -moz-box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
  -webkit-box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
  box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
  margin-bottom: 108px
}
.youTabForm h4,
.yourDetTabForm h4{
  font-size: 18px;
  margin:45px 0 30px 0;
  font-family:'robotomedium';
}
.youTabForm > p,
.yourDetTabForm >p{
  position: relative;
  margin: 10px 0;
}
.youTabForm > p:before, .youTabForm > p:after ,
.yourDetTabForm > p:before, .yourDetTabForm > p:after { content: ""; display: table; }
.youTabForm > p:after ,
.yourDetTabForm > p:after { clear: both; }
.AbtUCol1,
.BusDetCol1{
  display: inline-block;
  float: left;
  width: 140px;
  padding-top: 3px;
  font-size: 14px;
  line-height: 26px;
}
.CertainSize
{
  font-size: 10px;
  color:black;border-bottom:2px solid blue;
}
.CertainSize:hover
{
text-decoration:none;
color:black;
}
.BaseDetCol3
{
  display: inline-block;
  float: left;
  width: 140px;
  padding-top: 3px;
  font-size: 14px;
  line-height: 26px; 
}

.BusDetCol1{
  color: black;
}
.AbtUCol2,
.BusDetCol2{
  display: inline-block;
  float: left;
  width: 460px;
  position: relative;
}

.BusDetCol2 {
  margin-left: 10px;
}

.BusDetCol3
{
  display: inline-block;
  float: left;
  width: 150px;
  position: relative;
}

.BusDetCol3
{
  margin-left: 10px; 
}

.abtUAside{
  float: right;
  width: 200px;
  padding: 15px 10px;
  background-color: white;
  font-size: 14px;
  border: 1px solid #dae4eb;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #fff;
  -moz-box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
  -webkit-box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
  box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
}
.abtUAside h1{
  padding-bottom: 8px;
  border-bottom: #cccccc solid 1px;
  width: 210px;
  margin:0 0 20px -10px; 
  padding-left: 10px;
  color: #0e76bc;
  font-family: 'robotomedium';
  font-size: 25px;
}
.abtUAside h1 span{
  width: 28px;
  height: 25px;
  display: inline-block;
  background:url(../images/que-icon.png) center center no-repeat;
  vertical-align: middle;
  margin-right: 12px
}
.abtUAside p{
  margin-bottom: 10px;
}
.formAssistContain{
  position: relative;
}
.youTabFormNwPW{
  padding-bottom: 20px;
}
.PWStrengthContain{
  position: absolute;
  font-size: 10px;
  left: 0;
  top:35px;
}
.PWStrength{
  width: 25px;
  height: 5px;
  background-color: #f067a0;
  display: inline-block;
}
.PWStrength:first-of-type{
  margin-left: 10px;
}
.PWStrength:last-child{
  margin-right: 10px;
}
.youTabForm p.youTabMiscBtns,
.yourDetTab p.yourDetTabMiscBtns,
.yourBusBox p.yourBusMiscBtns{
  position: absolute;
  bottom: -70px;
  width: 100%;
  left: 0;
  margin: 0;
  font-size:14px;
  *zoom: 1;
  overflow: visible;
}
.yourDetTabMiscBtns .floatLeft,
.yourBusMiscBtns .floatLeft{
  margin-top: 7px;
  font-family:'robotoregular';
}
.youTabSaveBtn,
.yourDetTabSaveBtn{
  margin-right: 35px;
  padding-top: 9px;
  border-bottom: #6cc067 solid 1px;
  font-size: 14px;
  font-family:'robotoregular';
  
}
.youTabSaveBtn:hover, .youTabSaveBtn:focus, .youTabSaveBtn:active,
.yourDetTabSaveBtn:hover, .yourDetTabSaveBtn:focus, .yourDetTabSaveBtn:active{
  color: #6cc067;
  border-bottom: #0d75bb solid 1px;
}
.youTabMiscBtns .floatLeft{
  padding-top: 9px;
  text-transform: uppercase;
}
.youTabForm .invalidUserInput:after{
  right: 1px;
  height: 25px;
}
.youTabForm .ValidateInfoBox{
    width: 100px;
    right: -72px;
    top: 35px;
}
.youTabForm .ValidateInfoBox:after{
    left: 42px
}
.abtUGravitrContain{
  float: left;
  width: 460px
}
.youTabForm h4,
.youTabForm h5{
  opacity: 0.8;
  color: black;
}
.youTabForm h5{
  font-size: 16px;
  font-weight: bold;
  margin: 25px 0 15px 0;
}
label.BusDetCol1{
  color: black;
}
.BusDetCol2 .offTimeStart, 
.BusDetCol2 .offTimeEnd {
  width: 90px;
}
#officeTimeContain .chosen-search{
  display: none;
}
.BusDetCol2 select{
  width: 246px;
}
#officeTimeContain input[type=text]{
  width: 60px
}
#youTabOffTimeStartInput{
  margin-right: 10px;
}
#youTabOffTimeEndInput{
  margin-left: 10px
}
.offTimeStart + .chosen-container{
  margin-right: 10px
}
.youTabWebsite{
  padding-bottom: 20px;
}
.websiteContain{
  font-size: 11px;
  position: absolute;
  top: 28px;
  left: 0;
  font-family: 'robotolight';
  color: black;
}
.officeOpenDay span{
  -moz-box-shadow: inset 1px 1px 5px #f6f8fa;
  -webkit-box-shadow: inset 1px 1px 5px #f6f8fa;
  box-shadow: inset 1px 1px 5px #f6f8fa;
}
.officeOpenDay span button{
  display: inline-block;
  font-size: 12px;
  width: 24px;
  padding: 3px 0;
  text-align: center;
  border: 1px solid #dae4eb;
  -moz-border-radius: 0 / 1px;
  -webkit-border-radius: 0 / 1px;
  border-radius: 0 / 1px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fff;
}

.officeOpenDay span:first-child{
  margin-right: 10px;
}
.officeOpenDay button:focus, .officeOpenDay button:hover,
.officeOpenDay button:active,
.officeOpenDay span button.currLink{
  background-color: #6cc067;
  color: white;
}
label[for="busDetFB"],
label[for="busDetTwit"],
label[for="busDetUTube"],
label[for="busDetGPlus"],
label[for="busDetTripAdv"]{
  padding-left: 35px;
  width: 105px;
}
label[for="busDetFB"]{
  background: url(../images/fb-ico.png) left center no-repeat;
}
label[for="busDetTwit"]{
  background: url(../images/twitt-ico.png) left center no-repeat;
}
label[for="busDetUTube"]{
  background: url(../images/utube-ico.png) left center no-repeat;
}
label[for="busDetGPlus"]{
  background: url(../images/Gplus-ico.png) left center no-repeat;
}
label[for="busDetTripAdv"]{
  background: url(../images/trip-ico.png) left center no-repeat;
}
label[for="yourDetTabDesig"]{
  line-height: 18px;
}
.yourBusPANContain .panCardDelete{
  top: 3px;
  right: 43px;
}
.regOffAddContain label{
  font-size: 11px;

}
.regOffAddContain input{
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
}
label[for="yourDetMobile"] span{
  display: block;
  font-size: 11px;
  line-height: 12px;
}
.yourBusNext:hover,.yourBusNext:active{
  color: white;
  cursor: pointer;
}
.bankDetNameContain{
  font-size: 10px;
  position: relative;
  top: -5px;
}
.bankDetSentMail{
  float: right;
  font-size: 10px;
  line-height: 13px;
  margin-top: 7px;
}
.bankDetSameRegMail label{
  font-size: 10px;
  line-height: 13px;
}
.bankDetSameRegMail input{
  display: inline-block;
  vertical-align: middle;
}
.currncSymbol{
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  position: relative;
  border: 1px solid #dae4eb;
  -moz-border-radius: 0 / 1px;
  -webkit-border-radius: 0 / 1px;
  border-radius: 0 / 1px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #eff9ff;
  -moz-box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
  -webkit-box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
  box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
}
.currncSymbol:after{
  content: "`";
  position: absolute;
  top: 4px;
  left: 8px;
  font-size: 13px;
  color: #58829b;
  opacity: 0.7;
  font-family: 'rupee_foradianregular';
}
.currncName{
  font-size: 13px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.teamAuthCol2{
  font-size: 13px;
}
.teamAuthCol2 label{
  font-size: 13px;
}
.teamAuthCol2 th{
  font-weight: normal;
}
.teamAuthtabCol1,
.teamAuthtabCol2,
.teamAuthtabCol3{
  margin-right: 5px;
  display: inline-block;
  text-align: center;
  padding: 3px 0;
}
.teamAuthtabCol1,
.teamAuthtabCol2{
  width: 30px;
}
.addMembersBus{
  padding:0 2px 2px 2px;
  border-bottom: #0e76bc solid 3px;
  font-family: 'robotomedium';
  margin: 10px 35px -50px 0;
  display: inline-block;
  font-size:14px;
}
.subTab{
  border:1px solid #e5e5e5;
  padding:8px;
  margin-right:20px;
}
.activeSubTab{
  position: relative;
  top:1px;
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  padding:4px 4px 0px 4px;
  background-color: white;
  z-index: 1000; 
}
.subTabAdd{
  position: relative;
  top:16px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  padding:3px;
}
.inactiveSubTab{
  border: 1px solid #e5e5e5;
  top:1px;
  padding:4px 4px 0px 4px;
  z-index:1000;
}
/* =============================================================================
   Footer
   ========================================================================== */
   
   
      
/* =============================================================================
   Forms
   ========================================================================== */
/* Form Resets */
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"]
{ cursor: pointer; -webkit-appearance: button}
button[disabled], input[disabled] { cursor: default; }
button,button:active{
  outline: none;
  border: none;
  background: transparent;
}

/* Removing iOS Rounded Corners and default Borders and Shadows */
input,textarea {
  -webkit-border-radius: 0;
  border: none;
  outline: none;
}
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { 
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box; 
	-webkit-box-sizing: content-box; 
	box-sizing: content-box;
}
input[type=checkbox]:focus{
  border: #0e76bc solid 1px
}
textarea { overflow: auto; vertical-align: top; resize: vertical; }


/* Colors for form validity */
input:valid, textarea:valid { color:black;  }
input:invalid, textarea:invalid { background-color: #f168a0; color: black; }


/* Placeholder */
::-webkit-input-placeholder { color:#888; }
::-moz-placeholder { color:#888; } /* firefox 19+ */
:-ms-input-placeholder { color:#888; } /* ie */
input:-moz-placeholder { color:#888; }
/* =============================================================================
   Library Styles
   ========================================================================== */
/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #aaa;
  border-top: 0;
  background: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}
.chosen-container a {
  cursor: pointer;
}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 24px;
  border: 1px solid #aaa;
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
  -moz-border-radius: 3px / 1px;
  -webkit-border-radius: 3px / 1px;
  border-radius: 3px / 1px;
}
.chosen-container-single .chosen-default {
  font-size: 14px;
  border: 1px solid #dae4eb;
  -moz-border-radius: 2px / 1px;
  -webkit-border-radius: 2px / 1px;
  border-radius: 2px / 1px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fff;
  -moz-box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
  -webkit-box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
  box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
}
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666;
}
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('../images/chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 100%;
  width: 21px;
  border: 1px solid #dae4eb;
  -moz-border-radius: 0 / 1px;
  -webkit-border-radius: 0 / 1px;
  border-radius: 0 / 1px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #ecf7ff;
  -moz-box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
  -webkit-box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);
  box-shadow: inset 1px 1px 5px rgba(193,207,217,.35);

}
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../images/chosen-sprite.png') no-repeat 2px -1px;
}
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}
.chosen-container-single .chosen-search input[type="text"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  background: white url('../images/chosen-sprite.png') no-repeat 100% -20px;
  background: url('../images/chosen-sprite.png') no-repeat 100% -20px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background: url('../images/chosen-sprite.png') no-repeat 100% -20px, -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('../images/chosen-sprite.png') no-repeat 100% -20px, -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('../images/chosen-sprite.png') no-repeat 100% -20px, -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('../images/chosen-sprite.png') no-repeat 100% -20px, linear-gradient(#eeeeee 1%, #ffffff 15%);
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  font-family: 'robotoregular';
}
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container .chosen-results li.highlighted {
  background-color: #3875d7;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
  background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
  color: #fff;
}
.chosen-container .chosen-results li.no-results {
  display: list-item;
  background: #f4f4f4;
}
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto !important;
  height: 1%;
  border: 1px solid #aaa;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
  cursor: text;
}
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}
.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 5px;
  height: 15px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #666;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}

.textbox_sch
{
  width:100px;
}

.chosen-container-multi .chosen-choices li.search-field .default {
  color: #999;
}
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 0 3px 5px;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  border-radius: 3px;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-clip: padding-box;
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  line-height: 13px;
  cursor: default;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('../images/chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  color: #666;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}

/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
  
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -15px -1px;
}
.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #111 !important;
}

/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
.chosen-disabled .chosen-single {
  cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @end */
/* @group Right to Left */
.chosen-rtl {
  text-align: right;
}
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}
.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}
.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}
.chosen-rtl .chosen-choices li {
  float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}
.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: white url('../images/chosen-sprite.png') no-repeat -30px -20px;
  background: url('../images/chosen-sprite.png') no-repeat -30px -20px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background: url('../images/chosen-sprite.png') no-repeat -30px -20px, -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('../images/chosen-sprite.png') no-repeat -30px -20px, -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('../images/chosen-sprite.png') no-repeat -30px -20px, -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('../images/chosen-sprite.png') no-repeat -30px -20px, linear-gradient(#eeeeee 1%, #ffffff 15%);
  direction: rtl;
}
.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url('chosen-sprite@2x.png') !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}
/* @end */
/* The MIT License */
.dropzone,
.dropzone *,
.dropzone-previews,
.dropzone-previews * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dropzone {
  position: relative;
  border: 1px solid rgba(0,0,0,0.08);
  background: rgba(0,0,0,0.02);
  padding: 1em;
  display: inline-block;
  width: 256px;
}
.dropzone.dz-clickable {
  cursor: pointer;
}
.dropzone.dz-clickable .dz-message,
.dropzone.dz-clickable .dz-message span {
  cursor: pointer;
}
.dropzone.dz-clickable * {
  cursor: default;
}
.dropzone .dz-message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.dropzone.dz-drag-hover {
  border-color: rgba(0,0,0,0.15);
  background: rgba(0,0,0,0.04);
}
.dropzone.dz-started .dz-message {
  display: none;
}
.dz-started{
  vertical-align: top;
}
.dropzone .dz-preview,
.dropzone-previews .dz-preview {
  background: rgba(255,255,255,0.8);
  position: relative;
  display: inline-block;
  margin: 17px;
  vertical-align: top;
  border: 1px solid #acacac;
  padding: 6px 6px 6px 6px;
}
.dropzone .dz-preview.dz-file-preview [data-dz-thumbnail],
.dropzone-previews .dz-preview.dz-file-preview [data-dz-thumbnail] {
  display: none;
}
.dropzone .dz-preview .dz-details,
.dropzone-previews .dz-preview .dz-details {
  width: 100px;
  height: 100px;
  position: relative;
  background: #ebebeb;
  padding: 5px;
  margin-bottom: 22px;
}
.dropzone .dz-preview .dz-details .dz-filename,
.dropzone-previews .dz-preview .dz-details .dz-filename {
  overflow: hidden;
  height: 100%;
}
.dropzone .dz-preview .dz-details img,
.dropzone-previews .dz-preview .dz-details img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
.dropzone .dz-preview .dz-details .dz-size,
.dropzone-previews .dz-preview .dz-details .dz-size {
  position: absolute;
  bottom: -28px;
  left: 3px;
  height: 28px;
  line-height: 28px;
}
.dropzone .dz-preview.dz-error .dz-error-mark,
.dropzone-previews .dz-preview.dz-error .dz-error-mark {
  display: block;
}
.dropzone .dz-preview.dz-success .dz-success-mark,
.dropzone-previews .dz-preview.dz-success .dz-success-mark {
  display: block;
}
.dropzone .dz-preview:hover .dz-details img,
.dropzone-previews .dz-preview:hover .dz-details img {
  display: none;
}
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  right: -10px;
  top: -10px;
}
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
  color: #8cc657;
}
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
  color: #ee162d;
}
.dropzone .dz-preview .dz-progress,
.dropzone-previews .dz-preview .dz-progress {
  position: absolute;
  top: 100px;
  left: 6px;
  right: 6px;
  height: 6px;
  background: #d7d7d7;
  display: none;
}
.dropzone .dz-preview .dz-progress .dz-upload,
.dropzone-previews .dz-preview .dz-progress .dz-upload {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  background-color: #8cc657;
}
.dropzone .dz-preview.dz-processing .dz-progress,
.dropzone-previews .dz-preview.dz-processing .dz-progress {
  display: block;
}
.dropzone .dz-preview .dz-error-message,
.dropzone-previews .dz-preview .dz-error-message {
  display: none;
  position: absolute;
  top: -5px;
  left: -20px;
  background: rgba(245,245,245,0.8);
  padding: 8px 10px;
  color: #800;
  min-width: 140px;
  max-width: 500px;
  z-index: 500;
}
.dropzone .dz-preview:hover.dz-error .dz-error-message,
.dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
  display: block;
}
.dropzone {
  border: 1px solid rgba(0,0,0,0.03);
  min-height: 100px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: white;
  padding: 23px;
}
.dropzone .dz-default.dz-message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  background-image: url("../images/spritemap.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 214px;
  height: 65px;
  margin-left: -107px;
  margin-top: -32.5px;
  top: 50%;
  left: 50%;
}
/* @media all and (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:1.5/1),(min-device-pixel-ratio:1.5),(min-resolution:138dpi),(min-resolution:1.5dppx) {
  .dropzone .dz-default.dz-message {
    background-image: url("../images/spritemap@2x.png");
    -webkit-background-size: 428px 406px;
    -moz-background-size: 428px 406px;
    background-size: 428px 406px;
  }
} */
.dropzone .dz-default.dz-message span {
  display: none;
}
.dropzone.dz-square .dz-default.dz-message {
  background-position: 0 -123px;
  width: 268px;
  margin-left: -134px;
  height: 174px;
  margin-top: -87px;
}
.dropzone.dz-drag-hover .dz-message {
  opacity: 0.15;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
  filter: alpha(opacity=15);
}
.dropzone.dz-started .dz-message {
  display: block;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.dropzone .dz-preview,
.dropzone-previews .dz-preview {
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.16);
  box-shadow: 1px 1px 4px rgba(0,0,0,0.16);
  font-size: 14px;
}
.dropzone .dz-preview.dz-image-preview:hover .dz-details img,
.dropzone-previews .dz-preview.dz-image-preview:hover .dz-details img {
  display: block;
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  filter: alpha(opacity=10);
}
.dropzone .dz-preview.dz-success .dz-success-mark,
.dropzone-previews .dz-preview.dz-success .dz-success-mark {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.dropzone .dz-preview.dz-error .dz-error-mark,
.dropzone-previews .dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.dropzone .dz-preview.dz-error .dz-progress .dz-upload,
.dropzone-previews .dz-preview.dz-error .dz-progress .dz-upload {
  background: #ee1e2d;
}
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark,
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
  display: block;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  background-image: url("../images/spritemap.png");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:1.5/1),(min-device-pixel-ratio:1.5),(min-resolution:138dpi),(min-resolution:1.5dppx) {
  .dropzone .dz-preview .dz-error-mark,
  .dropzone-previews .dz-preview .dz-error-mark,
  .dropzone .dz-preview .dz-success-mark,
  .dropzone-previews .dz-preview .dz-success-mark {
    background-image: url("../images/spritemap@2x.png");
    -webkit-background-size: 428px 406px;
    -moz-background-size: 428px 406px;
    background-size: 428px 406px;
  }
}
.dropzone .dz-preview .dz-error-mark span,
.dropzone-previews .dz-preview .dz-error-mark span,
.dropzone .dz-preview .dz-success-mark span,
.dropzone-previews .dz-preview .dz-success-mark span {
  display: none;
}
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
  background-position: -268px -123px;
}
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
  background-position: -268px -163px;
}
.dropzone .dz-preview .dz-progress .dz-upload,
.dropzone-previews .dz-preview .dz-progress .dz-upload {
  -webkit-animation: loading 0.4s linear infinite;
  -moz-animation: loading 0.4s linear infinite;
  -o-animation: loading 0.4s linear infinite;
  -ms-animation: loading 0.4s linear infinite;
  animation: loading 0.4s linear infinite;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  -ms-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-image: url("../images/spritemap.png");
  background-repeat: repeat-x;
  background-position: 0px -400px;
}
/* @media all and (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:1.5/1),(min-device-pixel-ratio:1.5),(min-resolution:138dpi),(min-resolution:1.5dppx) {
  .dropzone .dz-preview .dz-progress .dz-upload,
  .dropzone-previews .dz-preview .dz-progress .dz-upload {
    background-image: url("../images/spritemap@2x.png");
    -webkit-background-size: 428px 406px;
    -moz-background-size: 428px 406px;
    background-size: 428px 406px;
  }
} */
.dropzone .dz-preview.dz-success .dz-progress,
.dropzone-previews .dz-preview.dz-success .dz-progress {
  display: block;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.dropzone .dz-preview .dz-error-message,
.dropzone-previews .dz-preview .dz-error-message {
  display: block;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.dropzone .dz-preview:hover.dz-error .dz-error-message,
.dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.dropzone a.dz-remove,
.dropzone-previews a.dz-remove {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #eee));
  background-image: -webkit-linear-gradient(top, #fafafa 0, #eee 100%);
  background-image: -moz-linear-gradient(top, #fafafa 0, #eee 100%);
  background-image: -o-linear-gradient(top, #fafafa 0, #eee 100%);
  background-image: -ms-linear-gradient(top, #fafafa 0, #eee 100%);
  background-image: linear-gradient(top, #fafafa 0, #eee 100%);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #eee;
  text-decoration: none;
  display: block;
  padding: 4px 5px;
  text-align: center;
  color: #aaa;
  margin-top: 26px;
}
.dropzone a.dz-remove:hover,
.dropzone-previews a.dz-remove:hover {
  color: #666;
}
@-moz-keyframes loading {
  0% {
    background-position: 0 -400px;
  }

  100% {
    background-position: -7px -400px;
  }
}
@-webkit-keyframes loading {
  0% {
    background-position: 0 -400px;
  }

  100% {
    background-position: -7px -400px;
  }
}
@-o-keyframes loading {
  0% {
    background-position: 0 -400px;
  }

  100% {
    background-position: -7px -400px;
  }
}
@-ms-keyframes loading {
  0% {
    background-position: 0 -400px;
  }

  100% {
    background-position: -7px -400px;
  }
}
@keyframes loading {
  0% {
    background-position: 0 -400px;
  }

  100% {
    background-position: -7px -400px;
  }
}
/* ======================================
    ColorBox
====================================== */
#colorbox{
  overflow:visible !important;  
  background-color: white;
}
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:999999; }
#cboxOverlay{position:fixed; width:100%; height:100%; }
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:visible !important;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}
#cboxContent{}
#cboxOverlay{background-color: black;background-color: rgba(0,0,0,0.8)}
#colorbox{}
#cboxTopLeft,#cboxTopRight,#cboxBottomLeft,#cboxBottomRight,#cboxMiddleLeft,#cboxMiddleRight,
#cboxTopCenter,#cboxBottomCenter{display:none}
#cboxContent{background-color:transparent;}
.cboxIframe{background-color:transparent;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{margin:0;overflow:visible}
#cboxTitle,#cboxCurrent,#cboxSlideshow,#cboxPrevious,#cboxNext{display:none;}
#cboxLoadingOverlay{}
#cboxLoadingGraphic{background:url(../images/loading.gif) no-repeat center center;}
#cboxClose{
  position: absolute;
  top: -11px;
  right: -7px;
  width: 18px;
  text-align: center;
  padding: 3px;
  font-size: 16px;
  line-height: 15px;
  color: white;
  font-family: 'robotomedium';
  background-color: #f067a0;
}
#cboxClose:hover{
  background-color: #0e76bc;
}
/* ======================================
    Charecter Count
====================================== */
.wChar {
    position: relative;
    z-index: 50;
}
.wChar-theme-classic.wChar {
    position: absolute;
    color: black;
    font-size: 10px;
    top: auto !important;
    bottom: 0;
    font-size: 10px;
    right: 3px !important;
    font-family: 'robotolight';
    display: block !important;
}
.wChar-theme-classic.wChar-min {
    background-color: #f067a0;
    position: absolute;
    color: black;
    font-size: 10px;
    top: auto !important;
    bottom: 0;
    font-size: 10px;
    font-family: 'robotolight';
    display: block !important;
    color: white;
    right: 3px !important;
}
/* ======================================
    Custom Checkbox/Radio Button
====================================== */
.checkbox, .radio {
  width: 22px;
  height: 25px;
  padding: 0 5px 0 0;
  background: url(../images/checkbox.png) no-repeat;
  display: block;
  clear: left;
  float: left;
}
.radio {
  background: url(../images/radio.png) no-repeat;
}
.select {
  position: absolute;
  width: 158px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
  height: 21px;
  padding: 0 24px 0 8px;
  color: #fff;
  font: 12px/21px arial,sans-serif;
  background: url(../images/select.png) no-repeat;
  overflow: hidden;
}
.datePicker{
  display: block;
}
/* =============================================================================
   	Media Queries 
   ========================================================================== */

@media only screen and (max-width: 1150px) {

}



/* =============================================================================
   	Non-Symentic Class
   ========================================================================== */

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Contain Floats */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.textRight{
  text-align: right;
}
.textCenter{
  text-align: center;
}
.textLeft{
  text-align: left;
}
.in_one_line
{
  display: inline;
}

/* =============================================================================
   	Print Styles
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
