#bbc
{
background:#eef5fb;color:black;text-align:center;
}
#bbc_header
{
background:#e3f4fe;color:#224968;border-top:1px solid #eee;text-align:center;
}
#bbc_row
{
background:#f9fdff;text-align:center;border-top:1px solid #eee;
}
#bbc_row_dark
{
background:#eef5fb;color:black;
}
